<!doctype html>
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title><%= title %> &ndash; Boilerplate Template</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link rel="stylesheet" href="../css/main.css">

    <!-- For retina-display iPads -->
    <!-- <link href="../images/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> -->
    <!-- For retina-display iPhones -->
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> -->
    <!-- For iPad 1 -->
    <!-- <link href="../images/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> -->
    <!-- For iPhone 3G, iPod Touch and Android -->
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> -->
    <!-- For Nokia -->
    <!-- <link href="../images/icons/iphone_home.png" rel="shortcut icon"/> -->
    <!-- For everything else -->
    <!-- <link href="../images/icons/favicon.png" rel="shortcut icon" type="image/png"/> -->
    <!-- <link href="../images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> -->

    <!-- IE8 and below fallbacks -->
    <!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="../js/libs/respond/respond.min.js"></script>
    <![endif]-->

</head>

<body id="sitename" data-controller="examples">

    <div class="wrapper-all">

        <header class="wrapper-header" role="banner">
        
            <div class="grid">

                <h1 class="title-primary margin-bottom"><%= title %></h1>

                <nav>
                    <ul class="nav">
                        <li><a href="index.html" class="<%= (currentPage == 'Home' ? 'active' : '') %>">Home</a></li>
                        <li><a href="2column.html" class="<%= (currentPage == '2 Column' ? 'active' : '') %>">2 Column</a></li>
                        <li><a href="3column.html" class="<%= (currentPage == '3 Column' ? 'active' : '') %>">3 Column</a></li>
                        <li><a href="grid.html" class="<%= (currentPage == 'Grid' ? 'active' : '') %>">Grid</a></li>
                        <li><a href="404.html" class="<%= (currentPage == '404' ? 'active' : '') %>">404</a></li>
                        <li><a href="news.html" class="<%= (currentPage == 'News' ? 'active' : '') %>">News</a></li>
                        <li><a href="contact.html" class="<%= (currentPage == 'Contact' ? 'active' : '') %>">Contact</a></li>
                    </ul>
                </nav>

            </div>

        </header><!-- .wrapper-header -->

        <main class="primary wrapper-primary" role="main">

        <!-- Template Start -->