<!doctype html>
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{{ title }} &ndash; Staddle Template</title> 

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ assets }}/css/main.css">  

    <!-- For retina-display iPads -->
    <!-- <link href="{{ assets }}/img/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> -->
    <!-- For retina-display iPhones -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> -->
    <!-- For iPad 1 -->
    <!-- <link href="{{ assets }}/img/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> -->
    <!-- For iPhone 3G, iPod Touch and Android -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> -->
    <!-- For Nokia -->
    <!-- <link href="{{ assets }}/img/icons/iphone_home.png" rel="shortcut icon"/> -->
    <!-- For everything else -->
    <!-- <link href="{{ assets }}/img/icons/favicon.png" rel="shortcut icon" type="image/png"/> -->
    <!-- <link href="{{ assets }}/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> -->

    <!-- IE8 and below fallbacks -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="{{ assets }}/js/libs/respond/respond.min.js"></script> 
    <![endif]-->

</head>

<body id="sitename" data-controller="examples">

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="wrapper-header" role="banner"> 
    
        <div class="grid">
            <div class="col-1">

                <h1 class="title-primary margin-bottom">{{ title }}</h1> 

                <nav>
                    <ul class="nav nav-main">
                        <li><a href="index.html" class="{{#if navHomeActive}}active{{/if}}">Home</a></li>
                        <li><a href="2column.html" class="{{#if nav2ColActive}}active{{/if}}">2 Column</a></li>
                        <li><a href="3column.html" class="{{#if nav3ColActive}}active{{/if}}">3 Column</a></li>
                        <li><a href="grid.html" class="{{#if navGridActive}}active{{/if}}">Grid</a></li>
                        <li><a href="gallery.html" class="{{#if navGalleryActive}}active{{/if}}">Gallery</a></li>
                        <li><a href="news.html" class="{{#if navNewsActive}}active{{/if}}">News</a></li>
                        <li><a href="contact.html" class="{{#if navContactActive}}active{{/if}}">Contact</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </header><!-- .wrapper-header -->

    <main class="wrapper-primary" role="main">

        {{> body }}

    </main><!-- .wrapper-primary -->

    <footer class="wrapper-footer" role="contentinfo">

        <div class="grid">

            <div class="col-1">
            
                <p><small>&copy; {{ year }} Copyright Information</small></p>

            </div>

        </div>

    </footer><!-- .wrapper-footer -->

    <!-- JavaScript -->
    <script src="{{ assets }}/js/main.min.js"></script>
    {{#dev}}
    <script src="http://localhost:35729/livereload.js"></script> 
    {{/dev}}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ assets }}/js/libs/selectivizr/selectivizr.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <!-- <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script')); 
    </script> -->

</body>
</html>